
.navbar{
    margin-inline: 10vw;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content:space-between;
}

.navitem_div{
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 20px;
    gap: 20px;
}


.homebtn:hover{
    cursor: pointer;
    color: rgb(0, 148, 148);
}
.nav_cartbtn{
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 30px;
    background-color: rgb(171, 255, 255);
}
.nav_cartbtn:hover{
    background-color: aqua;
}